/*Css Nightshifts*/
/*-------------------------------------------------*/

* {
    width: auto;
    height: auto;
    font-family: Helvetica;
}
@font-face {
    font-family: "Helvetica";
    src: url("../doc/font/Helvetica.ttf");
}


body {
    margin: 0 auto;
}

/*Color's*/
/*-------------------------------------------------*/

.orange {
    background-color: orange;
}

.purple {
    background-color: #D8BFD8;
}

.yellow {
    background: #D7B740;
}

.green {
    background: #317f43;
}

.rood {
    background-color: #cc0000;
}

/*login*/
/*-------------------------------------------------*/

.container-admin input[type=text],.container-admin input[type=password], .container-admin textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.container-admin .button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.container-admin label {
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #0d3a5f;
}

input[type=submit] {
    background-color: #4682b4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-admin {
    margin: 0 auto;
    padding-top: 3%;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
/*-------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    background-color: lightblue;
    padding-right: 10%;
}

.nav {
    margin-right: 15%;
}

.dropbtn {
    background-color: #4682b4;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 4mm;
}

.logo img {
    width: 32%;

}

.nav .dropbtn:hover {
    background-color: #0d3a5f;
    cursor: pointer;
}

.active {
    background-color: #010507;
}

/*Footer*/
/*-------------------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    left: 0px;
    display: flex;
}

/*Main page*/
/*-------------------------------------------------*/
.bigLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;

}

.bigLogo img {
    width: 750px;
    padding-right: 20px;
}

/*Grid*/
/*-------------------------------------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top: 30px;
}

.linkBox {
    border: #4682b4 solid 5px;
    background-color: lightblue;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    margin: auto;
}

/*Song Pages*/
/*-------------------------------------------------*/

.song-texts {
    text-align: center;
}

.queen {
    background: #4682b4;
}

.MyBaby {
    background-color: green;
    color: red;
}

.MyBaby header,.MyBaby footer{
    color: white;
}

.songContent {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.songContent p {
    width: 600px;
    height: 400px;
    overflow: auto;
}

.song-texts h2 {
    font-size: 50px;
}

.descriptionKiller {
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 40px;
    border-top: 2px solid lightblue;
    text-align: left;
    padding-bottom: 100%;
}

iframe {
    width: 600px;
    height: 400px;
}

/*Tools pages*/
/*-------------------------------------------------*/
.article {
    margin: 0 auto;
}

.article h1 {
    text-align: center;
}

.article p {
    display: flex;
    width: 600px;
    margin: 0 auto;
}

.imgtools{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#floated {
    float: right;
}


ul p {
    margin: 0 auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

ul a {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: black;
}


a {
    text-decoration: none;
}

.george img{
    width: 400px;
    display: flex;
}
.dalton{
    color: white;
}
.skywalker{
    display: flex;
}

.resizes {
    width: 30%;
}

.resize{
    width: 30%;
    border-radius: 50px;
}

.center {
    text-align: center;
}
.star p{
    display: flex;
    padding-left: 10%;
}
.star img{
    display: flex;
    padding-left: 10%;
}
.Luke{
    background-color: lightgreen;
}

.social{
    display: flex;
    margin-left: 70%;
    align-items: center;
}
.twitter img {
    margin: 0 auto;
    height: 40px;
    padding-left: 10px;

}
.instagram img {
    margin: 0 auto;
    height: 40px;
    padding-left: 10px;
}
.facebook img {
    margin: 0 auto;
    height: 40px;
    padding-left: 10px;
}

.container{
    text-align: center;
    border: 2px solid black;
    margin: auto;
    width: 80%;
    margin-top: 50px;
    border-radius: 50px;
    background-color: lightblue;
}
/* Admin */

input[type=text],  select, textarea{
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password]{
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
    width: 100%;
}

.container-background{
    background-color: #f2f2f2;
    width: 100%;
}

.col-25 {
    width: 25%;
    margin-top: 6px;
}

.col-75 {

    width: 75%;
    margin-top: 6px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#books {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 700px;
    margin: 0 auto;
}

#books td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#books tr:nth-child(even){background-color: #f2f2f2;}

#books tr:hover {background-color: #ddd;}

#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4682b4;
    color: white;
}

.buttonCreate{
    padding: 30px;
}
.boek{
    display: flex;
}
.boektext{
    padding-left: 20px;
}
h2{
    padding-left: 5px;
}