/*Css Nightshifts*/
/*-------------------------------------------------*/

* {
    width: auto;
    height: auto;
    font-family: Helvetica;
}
@font-face {
    font-family: "Helvetica";
    src: url("../doc/font/Helvetica.ttf");
}


body {
    margin: 0 auto;
}

/*Color's*/
/*-------------------------------------------------*/

.orange {
    background-color: orange;
}

.paars {
    background-color: #D8BFD8;
}

.yellow {
    background: #D7B740;
}

.green {
    background: #317f43;
}

.rood {
    background-color: #cc0000;
}

/*Header*/
/*-------------------------------------------------*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    background-color: lightblue;
    padding-right: 10%;
    padding-left: 10%;
}

.nav {
    margin-right: 7%;
}

.dropbtn {
    background-color: #4682b4;
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 4mm;
}

.logo img {
    width: 32%;
}

.nav .dropbtn:hover {
    background-color: #0d3a5f;
}

.active {
    background-color: red;
}

/*Footer*/
/*-------------------------------------------------*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    left: 0px;
    display: flex;
}

/*Main page*/
/*-------------------------------------------------*/
.bigLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;

}

.bigLogo img {
    width: 750px;
    padding-right: 20px;
}

/*Grid*/
/*-------------------------------------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top: 30px;
}

.linkBox {
    border: #4682b4 solid 5px;
    background-color: lightblue;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    margin: auto;
}

/*Song Pages*/
/*-------------------------------------------------*/

.song-texts {
    text-align: center;
}

.qeeun {
    background: #4682b4;
}

.MyBaby {
    background-color: green;
    color: red;
}

.song-uprising, .song-uprising h2 {
    background-color: green;
    color: red;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 150px;
}

.songContent {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.songContent p {
    width: 600px;
    height: 400px;
    overflow: auto;
}

.song-texts h2 {
    font-size: 50px;
}

.descriptionKiller {
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 40px;
    border-top: 2px solid lightblue;
    text-align: left;
    padding-bottom: 100%;
}

iframe {
    width: 600px;
    height: 400px;
}

/*Tools pages*/
/*-------------------------------------------------*/
.article {
    margin: 0 auto;
}

.article h1 {
    text-align: center;
}

.article p {
    display: flex;
    width: 600px;
    margin: 0 auto;
}

.imgtools img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#floated {
    float: right;
}


ul p {
    margin: 0 auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

ul a {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: black;
}


a {
    text-decoration: none;
}

.george {
    width: 25%;
}



.skywalkerimg img{

}
.skywalker{
    display: flex;
}

.resizes {
    width: 30%;
}

.center {
    text-align: center;
}
.star p{
    display: flex;
    padding-left: 10%;
}
.star img{
    display: flex;
    padding-left: 10%;
}
.Luke{
    background-color: lightgreen;
}
.skywalker img{
    
}
.social{
    display: flex;
    margin-left: 70%;
    align-items: center;
}
.twitter img {
    margin: 0 auto;
    height: 40px;
    padding-left: 10px;

}
.instagram img {
    margin: 0 auto;
    height: 40px;
    padding-left: 10px;
}
.facebook img {
    margin: 0 auto;
    height: 40px;
    padding-left: 10px;
}