*{
    width: auto;
    height: auto;
}

.header{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}




footer {  
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    border-top: 2px solid #f1f1f1;
    left: 0px;
    text-align: center;
}

footer ul{
    margin: auto;
    width: 25%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.qeeun{
    background: #4682b4;
}